@import "variables";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font;
}

body {
	font-size: 100%;
	background: $light-grey;
}

h1, h2, h3, h4 {
	text-transform: uppercase;
	color: $dark-blue;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.8rem;
	margin-bottom: 0.8rem;
}

h3 {
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 0.2rem;
}

h4 {
	font-size: 1.2rem;
	margin-bottom: 0.2rem;
}

p {
	font-size: 1rem;
	line-height: 1.3;
	margin-bottom: 1rem;
	// color: $grey;
}
p:last-of-type{
	margin-bottom: 0;
}

a {
	font-size: 1rem;
	text-decoration: none;
}

a:hover {
	color: green;
}

img {
	width: 100%;
}

.big{
	font-size: 1.5rem;
}

.bold {
	font-weight: 700;
}

.center {
	text-align: center;
}

.inner {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
}

.content-wrapper {
	padding: 2rem 0 0;
	overflow: hidden;
}

.margin-top {
	margin-top: 80px;
}

section:last-child {
	padding-bottom: 2rem;
}

.icon {
	display: block;
	padding: 0;
	text-indent: -9999px;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;

	&:hover {
		border-bottom: none;
	}
}

// --- logos ---
.menu-icon {
	background-image: url("../img/icons/menu.svg");
}
.close-icon {
	background-image: url("../img/icons/close-white.svg");
}
.sylteosen-logo {
	background-image: url("../img/icons/sylteosen.svg");
}
.facebook-logo{
	background-image: url("../img/icons/facebook.svg");
}
.navigator-up{
	background-image: url("../img/icons/navigator-up.svg");
}
.navigator-left{
	background-image: url("../img/icons/navigator-left.svg");
}
.navigator-right{
	background-image: url("../img/icons/navigator-right.svg");
}
// .kontrollradet-logo{
// 	background-image: url("../img/icons/kontrollradet.jpg");
// }
// .norsk-akkr-logo{
// 	background-image: url("../img/icons/norsk-akkr.jpg");
// }
.miljofyrtarn-logo{
	background-image: url("../img/icons/miljofyrtarn.svg");
}
// end of logos

// --- menu ---
#menu{
	// display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: white;
	z-index: 100;

	nav{
		height: 80px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 1rem 0;
	}

	#menu-normal{
		display: flex;
		align-items: center;
	}

	.nav-link {
		text-decoration: none;
		margin-right: 1rem;
		text-transform: uppercase;
		color: $grey;
		font-size: 0.75rem;
		font-weight: bold;
		padding: 0.5em;
		transition: color 0.3s ease-in-out;
		// transform: scale(1.0);
		// transition: scale 0.3s ease-in-out;
	}

	.nav-link:last-of-type{
		margin-right: 0;
	}

	.nav-link:hover{
		color: $light-blue;
		transition: color 0.3s ease-in-out;
		// transform: scale(1.1);
		// transition: scale 0.3s ease-in-out;
	}

	// .nav-link.active {
	// 	color: $light-blue;
	// }

	.logo-wrapper {
		display: inline-block;
		margin-right: auto;

		.icon {
			width: 140px;
			height: 50px;
		}
	}
}

.menu-drop-down{
	position: relative;
	cursor: pointer;
	padding: 1rem;
	margin-right: -1rem;

	.menu-icon {
		width: 25px;
		height: 15px;
	}
}

.menu-drop-down-content {
	display: none;
	position: absolute;
	background: $light-blue;
	right: 1rem;
	top: 35px;
	padding: 1rem;

	a {
		display: block;
		text-decoration: none;
		color: $white;
		text-transform: uppercase;
		font-size: 0.75rem;
		padding-bottom: 0.5em;
		font-weight: bold;
	}
	a:last-child{
		padding-bottom: 0;
	}
	a:hover{
		text-decoration: underline;
	}
}

.menu-drop-down:hover, .menu-drop-down-content:hover{
	.menu-drop-down-content{
		display: block;
	}
}

#menu-mobile{
	position: fixed;
	min-width: 200px;
	transform: translateX(100%);
	transition: transform 0.3s ease-in-out;
	background: $light-blue;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;

	.menu-content {
		display: flex;
		flex-direction: column;
		// padding: 2rem 0 1rem 1rem;
		padding: 0 1rem 0 1rem;
		margin-top: 5rem;

		.nav-link {
			color: $white;
			padding-bottom: 1em;
			text-transform: uppercase;
			font-weight: 400;
			text-decoration: none;
			font-size: 1rem;
		}
		.nav-link.active{
			font-weight: bold;
		}
	}
}

#menu .toggle-menu{
	display: none;
	position: relative;
	// right: 50px;
	left: -75px;
	width: 25px;
	height: 15px;
	top: 30px;
	cursor: pointer;
}

#menu-mobile.active{
	transform: translateX(0%);
	transition: transform 0.3s ease-in-out;
}

@media(max-width: 900px){
	#menu{
		.nav-link{
			font-size: 0.7rem;
			margin: 0;
		}

		.logo-wrapper .icon {
			width: 120px;
			height: 40px;
		}
	}
}

@media(max-width: 750px){
	#menu{

		nav{
			height: 50px;
		}

		.nav-link{
			// font-size: 0.65rem;
			// margin: 0;
		}

		.logo-wrapper .icon {
			width: 110px;
			height: 35px;
		}

		#menu-normal{
			display: none;
		}

		#menu-mobile{
			display: block;
		}

		.toggle-menu{
			display: block;
			top: 15px;
		}
	}
	.margin-top{
		margin-top: 50px;
	}
}
// end of menu


// --- FOOTER ---
#footer {
	background: $light-blue;
	color: $white;
	margin-bottom: 1rem;
	padding-bottom: 2rem;

	.inner {
		display: flex;
		justify-content: space-between;

		// > div {
		// 	width: 33%;
		// }
	}
}

// .footer-first, .footer-third{
// 	width: 18%;
// }
// .footer-second{
// 	width: 30%;
// }

.footer-first{
	width: 20%;
	// padding-right: 10rem;
	.kontrollradet-logo{
		background: $white;
		padding: 5px;
		margin-bottom: -4px;
	}
	.logo-group{
		display: flex;
		justify-content: space-between;
		margin: 5% 0;
		.logo-wrapper:first-child{
			width: 35%;
			background: $white;
		}
		.logo-wrapper:last-child{
			width: 60%;
			background: $white;
		}
		.norsk-akkr-logo{
			padding: 5px;
		}
		.miljofyrtarn-logo{
			height: 100%;
		}
	}
}

.footer-second{
	width: 35%;
	// padding-right: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	p{
		font-size: 1.5rem;
		text-transform: uppercase;
	}
}

.footer-third{
	width: 30%;
	display: flex;
	align-items: center;
	position: relative;
	justify-content: space-between;

	p, a {
		color: $white;
	}

	.facebook-logo{
		width: 60px;
		height: 60px;
		display: inline-block;
	}

	.text-content{
		min-width: 180px;
	}

	.phone{
		position: absolute;
		top: 0;
	}

	.email{
		display: flex;
	}
}

@media(max-width: 1100px){
	.footer-first{
		width: 20%;
	}
	.footer-second{
		width: 35%
	}
	.footer-third{
		width: 35%;
	}
}
@media(max-width: 980px){
	#footer .inner {
		flex-direction: column;

		> div {
			width: 50%;
			margin-right: auto;
			margin-left: auto;
		}
	}

	.footer-first, .footer-second{
		margin-bottom: 2rem;
	}

	.footer-first {
		display: flex;
		align-items: center;

		.logos {
			width: 40%;
		}
		.text-content{
			padding-left: 5%;
			width: 55%;
		}
	}

	.footer-third{
		justify-content: flex-start;
		.phone{
			position: static;
			margin-bottom: 1rem;
		}
		.text-content{
			margin-left: 2rem;
		}
	}
}
@media(max-width: 750px){
	#footer .inner > div {
		width: 60%;
	}
}
@media(max-width: 650px){
	#footer .inner > div {
		width: 70%;
	}
}
@media(max-width: 550px){
	#footer .inner > div {
		width: 80%;
	}
}
@media(max-width: 480px){
	#footer .inner > div {
		width: 100%;
	}
}
@media(max-width: 380px){
	#footer p, #footer a {
		// font-size: 0.8rem;
	}
	.footer-first{
		a,p {
			font-size: 0.8rem;
		}
		.text-content{
			width: 60%;
		}
	}
	.footer-second p{
		font-size: 1.2rem;
	}
	.footer-third{
		a,p{
			font-size: 0.8rem;
		}
		.big {
			font-size: 1.2rem;
		}

		.facebook-logo{
			width: 50px;
			height: 50px;
		}
	}
}
// END OF FOOTER

// --- banner-img ---
.banner-img {
	height: 300px;
	background-size: cover;
	background-position: center;
}

#index .banner-img {
	background-image: url("../img/banner.jpg");
}

#kontakt .banner-img {
	background-image: url("../img/banner.jpg");
}
// end of banner-img

// --- three-cols ---
.three-cols {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	> div {
		width: 32%;
	}
}

@media(max-width: 750px) {
	.three-cols > div {
		width: 100%;
		padding-bottom: 2rem;

		&:last-child {
			padding-bottom: 0;
		}
	}
}
// ---end of three-cols ---

// --- two-cols ---
.two-cols {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	> div {
		width: 48%;
	}
}

@media(max-width: 750px) {
	.two-cols > div {
		width: 100%;
	}
}
// end of two-cols

// --- list-item ---
.list-item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 2rem;

	&:first-child {
		margin-top: 0;
	}

	&:nth-child(2) {
		margin-top: 0;
	}

	.img-wrapper {
		width: 20%;
	}

	.text-wrapper {
		width: 76%;
	}
	p{
		font-size: 0.9rem;
	}
}

@media(max-width: 1000px) {
	.mq-override .list-item {
		width: 100%;

		.img-wrapper {
			width: 20%;
		}

		.text-wrapper {
			width: 76%;
		}
	}

	.list-item:nth-child(2) {
		margin-top: 2rem;
	}
}

@media(max-width: 500px) {
	.mq-override .list-item {
		.img-wrapper {
			display: none;
		}

		.text-wrapper {
			width: 100%;
		}
	}
}
// end of list-item

// --- two-boxes ---
.two-boxes {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	> div {
		width: 48%;
	}
}

@media(max-width: 600px) {
	.two-boxes > div {
		width: 100%;

		&:first-child {
			margin-bottom: 2rem;
		}
	}
}
// end of two-boxes

// --- grid ---
.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	img {
		width: 100%;
	}

	.grid-item {
		width: 19.5%;
		margin-bottom: 0.5%;
		position: relative;
		transition: transform 0.1s ease-in-out;
		margin-right: 0.5%;

		&:hover {
			transform: scale(1.075);
			transition: transform 0.1s ease-in-out;
			z-index: 10;
		}

		&:nth-child(5n) {
			margin-right: 0;
		}
	}

	.desc {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: $light-blue;
		color: $white;
		display: flex;
		justify-content: center;
		padding: 0.2em;
		p{
			margin: 0;
		}
	}

	.project {
		text-transform: uppercase;
		margin-right: 0.5em;
	}
}

@media(max-width: 1000px) {
	.grid {
		.grid-item {
			width: 24.5%;

			&:nth-child(5n) {
				margin-right: 0.5%;
			}

			&:nth-child(4n) {
				margin-right: 0;
			}
		}
	}
}

@media(max-width: 700px) {
	.grid {
		.grid-item {
			width: 32%;
			margin-right: 1%;
			margin-bottom: 1%;

			&:nth-child(4n),
			&:nth-child(5n) {
				margin-right: 1%;
			}

			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
}

@media(max-width: 500px) {
	.grid {
		.grid-item {
			width: 48%;
			margin-right: 1%;
			margin-bottom: 1%;

			&:nth-child(3n) {
				margin-right: 1%;
			}

			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}
}
// end of grid

// --- employees ---
// .employees{
// 	h4{
// 		margin-bottom: 1rem;
// 	}
// }
// end of employees

// --- employees-list ---
.employees-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 2rem;
	margin-bottom: 2rem;

	.employee{
		width: 22%;
	}

	img{
		width: 100%;
		border-radius: 100%;
	}

}
// end of employees-list


// --- doc ---
.doc{
	max-width: 400px;
	margin-bottom: 2rem;
	&:last-child{
		margin-bottom: 0;
	}
}
// end of doc


// --- img-above-text-below ---
.img-above-text-below{
	p{
		// same as margin-top as h2 above img
		margin-top: 0.8rem;
	}
}
// end of im-above-text-below

// --- read-more ---
.read-more{
	text-decoration: none;
	color: $light-blue;
	text-transform: uppercase;
}
// end of read-more

// --- showcase ---
.showcase{
	.info-box{
		margin-top: 3rem;
	}
}

@media(max-width: 1200px){
	.showcase .info-box{
		margin-top: 0;
	}
}

@media(max-width: 1000px){
	.showcase{
		> div {
			width: 100%;
		}
	}
}
// end of showcase

// --- navigator ---
.navigator{
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.25rem;

	a{
		position: relative;
		color: $dark-blue;
	}

	.navigator-up{
		width: 30px;
		height: 12px;
	}
	.navigator-left, .navigator-right{
		width: 12px;
		height: 30px;
		position: absolute;
		display: inline-block;
	}

	.overview a {
		top: 5px;
	}

	.navigator-up{
		position: absolute;
		top: -15px;
		width: 100%;
	}

	.prev a{
		padding-left: 20px;
		top: 5px;
	}
	.navigator-left{
		position: absolute;
		left: 0;
		top: -5px;
	}
	.next a {
		padding-right: 20px;
		top: 5px;
	}
	.navigator-right{
		position: absolute;
		right: 0;
		top: -5px;
	}

}
// end of navigator


#kontakt {
	background: $light-blue;
	color: $white;
}

#kontakt h4 {
	color: $white;
}
