doctype html
html(lang="no")
	head
		title Sylteosen Betong
		include includes/meta
		// JS
		script(src="js/custom.js")
			
	body#betongskolen
		include includes/menu
	
		.inner
			section.two-cols.content-wrapper.margin-top
				.box
					img(src="img/ferdigbetong_cropped.jpg" alt="")
				.box
					h2 Betongskolen
					p illum nisi labore quid elit illum amet quae multos eram export eram summis 
						| fugiat sunt enim duis quae tamen quis noster malis amet anim quem multos irure 
						| illum duis tempor dolor legam culpa nisi anim quorum quae tamen aute malis 
						| summis elit velit nisi eram legam dolore quae magna velit irure ipsum aliqua amet ipsum elit veniam quae fugiat nulla tempor sint legam 
						| magna dolor summis export minim esse illum multos legam elit elit velit fore 
						| quis fore aute quid elit quem veniam tamen sint quis enim sunt malis quem
			
			section.two-cols.content-wrapper.mq-override
				.list-item
					.img-wrapper
						img(src="img/betongskolen01.jpg" alt="")
					.text-wrapper
						h3 Fakta om betong
						p summis nulla cillum summis quis fugiat nulla malis malis quid sunt tempor quid 
							| elit quae amet fugiat summis illum culpa magna veniam minim quem nisi dolore 
							| esse fore anim sint tamen nulla anim irure tamen export fore eram elit noster
						a(href="#") Les mer
				.list-item
					.img-wrapper
						img(src="img/betongskolen02.jpg" alt="")
					.text-wrapper
						h3 Vannfast betong
						p summis nulla cillum summis quis fugiat nulla malis malis quid sunt tempor quid 
							| elit quae amet fugiat summis illum culpa magna veniam minim quem nisi dolore 
							| esse fore anim sint tamen nulla anim irure tamen export fore eram elit noster
						a(href="#") Les mer
				.list-item
					.img-wrapper
						img(src="img/betongskolen01.jpg" alt="")
					.text-wrapper
						h3 Ferdig armert betong
						p summis nulla cillum summis quis fugiat nulla malis malis quid sunt tempor quid 
							| elit quae amet fugiat summis illum culpa magna veniam minim quem nisi dolore 
							| esse fore anim sint tamen nulla anim irure tamen export fore eram elit noster
						a(href="#") Les mer
				.list-item
					.img-wrapper
						img(src="img/betongskolen02.jpg" alt="")
					.text-wrapper
						h3 Betong med farge 
						p summis nulla cillum summis quis fugiat nulla malis malis quid sunt tempor quid 
							| elit quae amet fugiat summis illum culpa magna veniam minim quem nisi dolore 
							| esse fore anim sint tamen nulla anim irure tamen export fore eram elit noster
						a(href="#") Les mer
				.list-item
					.img-wrapper
						img(src="img/betongskolen01.jpg" alt="")
					.text-wrapper
						h3 Vinterbetong
						p summis nulla cillum summis quis fugiat nulla malis malis quid sunt tempor quid 
							| elit quae amet fugiat summis illum culpa magna veniam minim quem nisi dolore 
							| esse fore anim sint tamen nulla anim irure tamen export fore eram elit noster
						a(href="#") Les mer
				.list-item
					.img-wrapper
						img(src="img/betongskolen02.jpg" alt="")
					.text-wrapper
						h3 Unngå at betongdekket sprekker 
						p summis nulla cillum summis quis fugiat nulla malis malis quid sunt tempor quid 
							| elit quae amet fugiat summis illum culpa magna veniam minim quem nisi dolore 
							| esse fore anim sint tamen nulla anim irure tamen export fore eram elit noster
						a(href="#") Les mer
				.list-item
					.img-wrapper
						img(src="img/betongskolen01.jpg" alt="")
					.text-wrapper
						h3 Tenk på dette før du skal støpe  
						p summis nulla cillum summis quis fugiat nulla malis malis quid sunt tempor quid 
							| elit quae amet fugiat summis illum culpa magna veniam minim quem nisi dolore 
							| esse fore anim sint tamen nulla anim irure tamen export fore eram elit noster
						a(href="#") Les mer
				.list-item
					.img-wrapper
						img(src="img/betongskolen02.jpg" alt="")
					.text-wrapper
						h3 Hvor mye betong trenger jeg?
						p summis nulla cillum summis quis fugiat nulla malis malis quid sunt tempor quid 
							| elit quae amet fugiat summis illum culpa magna veniam minim quem nisi dolore 
							| esse fore anim sint tamen nulla anim irure tamen export fore eram elit noster
						a(href="#") Les mer
		include includes/footer
