doctype html
html(lang="no")
	head
		title Sylteosen Betong
		include includes/meta
		// JS
		script(src="js/custom.js")
			
	body#dokumentasjon
		include includes/menu
	
		.inner
			section.two-cols.content-wrapper.margin-top
				.img-wrapper
					img(src="http://via.placeholder.com/600x200")
				.about-text
					h2 Dokumentasjon
					p tempor duis ipsum illum quid dolor culpa summis fore sunt fugiat fore tamen 
						| labore illum tempor quem minim malis legam legam dolore esse ipsum tempor quorum 
						| fore esse quorum quid ipsum quid dolor amet duis noster illum magna minim quid 
						| tamen sunt illum magna magna fugiat tempor amet nulla anim minim labore labore 
						| irure eram export esse sint dolor fugiat quae quid amet nulla esse dolore dolore irure velit sunt summis nisi labore 
						| aliqua quid velit dolore irure tamen minim illum fugiat legam minim eram minim 
						| fore amet irure noster
			
			section.content-wrapper
				.doc
					h4 NS-EN ISO 9001:2015
					p malis minim aliqua amet summis quorum amet quid nisi esse tempor dolor aute 
						| velit veniam duis fore quid velit quem dolor duis quem duis irure aliqua nulla 
						| velit culpa cillum aute dolor fore fore quorum labore nulla magna legam nisi 
						| summis dolor aute aute amet anim quid quae tamen velit
					a(href="#") Les mer
				.doc
					h4 NS-EN ISO 14001:2015
					p malis minim aliqua amet summis quorum amet quid nisi esse tempor dolor aute 
						| velit veniam duis fore quid velit quem dolor duis quem duis irure aliqua nulla 
						| velit culpa cillum aute dolor fore fore quorum labore nulla magna legam nisi 
						| summis dolor aute aute amet anim quid quae tamen velit
					a(href="#") Les mer
				.doc
					h4 Miljøfyrtårn
					p malis minim aliqua amet summis quorum amet quid nisi esse tempor dolor aute 
						| velit veniam duis fore quid velit quem dolor duis quem duis irure aliqua nulla 
						| velit culpa cillum aute dolor fore fore quorum labore nulla magna legam nisi 
						| summis dolor aute aute amet anim quid quae tamen velit
					a(href="#") Les mer
				
		include includes/footer
