doctype html
html(lang="no")
	head
		title Sylteosen Betong
		include includes/meta
		// JS
		script(src="js/custom.js")
		
			
	body
		#site.page_home(canvas="container")
			include includes/menu
		
			.inner
				section.two-cols.content-wrapper.margin-top.mq-750
					.box
						img(src="http://via.placeholder.com/600x300")
					.box
						h2 Ferdigbetong
						p illum nisi labore quid elit illum amet quae multos eram export eram summis 
						fugiat sunt enim duis quae tamen quis noster malis amet anim quem multos irure 
						illum duis tempor dolor legam culpa nisi anim quorum quae tamen aute malis 
						summis elit velit nisi eram legam dolore quae magna velit irure ipsum aliqua amet ipsum elit veniam quae fugiat nulla tempor sint legam 
						magna dolor summis export minim esse illum multos legam elit elit velit fore 
						quis fore aute quid elit quem veniam tamen sint quis enim sunt malis quem
				
				section.three-cols.content-wrapper
					.box
						h4 Ferdigbetong01
						p amet tamen noster velit irure irure tamen quis veniam magna quem elit minim quis 
						nulla illum fugiat nisi sint quem nisi dolor veniam magna anim nulla enim quorum 
						minim esse malis eram aliqua nulla irure quorum elit illum fugiat illum quid 
						cillum export culpa multos tempor duis velit cillum dolor
						a(href="#") Les mer 
					.box
						h4 Ferdigbetong02
						p amet tamen noster velit irure irure tamen quis veniam magna quem elit minim quis 
						nulla illum fugiat nisi sint quem nisi dolor veniam magna anim nulla enim quorum 
						minim esse malis eram aliqua nulla irure quorum elit illum fugiat illum quid 
						cillum export culpa multos tempor duis velit cillum dolor
						a(href="#") Les mer
					.box
						h4 Ferdigbetong03
						p amet tamen noster velit irure irure tamen quis veniam magna quem elit minim quis 
						nulla illum fugiat nisi sint quem nisi dolor veniam magna anim nulla enim quorum 
						minim esse malis eram aliqua nulla irure quorum elit illum fugiat illum quid 
						cillum export culpa multos tempor duis velit cillum dolor
						a(href="#") Les mer
					
			include includes/footer
