doctype html
html(lang="no")
	head
		title Sylteosen Betong
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
		// jQuery
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		// Styling
		link(rel="stylesheet", type="text/css", href="css/normalize.css")
		link(rel="stylesheet", type="text/css", href="css/styles.css")
		// JS
		script(src="js/custom.js")
		// Mmenu 
		link(rel="stylesheet", href="js/mmenu/css/jquery.mmenu.css", media="screen and (max-width: 700px)")
		link(rel="stylesheet", href="js/mmenu/extensions/positioning/jquery.mmenu.positioning.css", media="screen and (max-width: 700px)")
		script(src="js/mmenu/js/jquery.mmenu.min.js")
		// Typekit
		
			
	body
		#site.page_home(canvas="container")
			include includes/menu
			
			//- h1 Dette er en h1 
			//- h2 Dette er en h2
			//- h3 Dette er en h3
			//- h4 Dette er en h4 
			//- p Dette er en p tag
			//- a(href="#") Dette er en link
			
			section.banner-img
		
			.inner
				.section.three-cols.content-wrapper
					.box
						h4 Hvem er vi?
						p irure veniam fugiat quid summis aliqua esse aliqua malis irure cillum aliqua 
						noster malis magna sint multos export illum fore duis tempor enim duis nisi 
						noster aute nulla dolore aute nulla irure anim velit export malis quis culpa 
						quae quem malis elit malis eram noster fugiat esse fugiat quorum aliqua eram 
						illum quorum aute export veniam sunt ipsum eram dolor 
					.box
						h4 Hva leverer vi?
						p quid veniam quae quid minim noster sint sint culpa irure aute noster export aute 
						elit labore elit export culpa multos fugiat tamen anim nisi esse quid magna 
						illum elit fugiat irure enim eram quis labore nisi dolore legam anim dolor
					.box
						h4 Hvor leverer vi?
						p irure veniam fugiat quid summis aliqua esse aliqua malis irure cillum aliqua 
						noster malis magna sint multos export illum fore duis tempor enim duis nisi 
						noster aute nulla dolore aute nulla irure anim velit export malis quis culpa 
						quae quem malis elit malis eram noster fugiat esse fugiat quorum aliqua eram 
						illum quorum aute export veniam sunt ipsum eram dolor
					
				.section.two-cols.content-wrapper
					.box
						h2 Ferdigbetong
						img(src="http://via.placeholder.com/600x400")
						p aute anim quorum dolor tamen irure aliqua tamen quid elit aute illum veniam quid 
						velit esse tempor summis amet velit quorum culpa ipsum amet duis legam esse nisi 
						aliqua anim minim quorum noster duis ipsum noster nisi quorum tempor duis
					.box
						h2 Betongvarer
						img(src="http://via.placeholder.com/600x400")
						p aute anim quorum dolor tamen irure aliqua tamen quid elit aute illum veniam quid 
						velit esse tempor summis amet velit quorum culpa ipsum amet duis legam esse nisi 
						aliqua anim minim quorum noster duis ipsum noster nisi quorum tempor duis
			
			include includes/footer
