doctype html
html(lang="no")
	head
		title Sylteosen Betong
		include includes/meta
		// JS
		script(src="js/custom.js")
			
	body#kontakt
		#site.page_home(canvas="container")
			include includes/menu
		
			section.banner-img.margin-top
		
			.inner
				section.two-cols.content-wrapper
					.box
						p Test
					.box
						p hello
						
			include includes/footer
