doctype html
html(lang="no")
	head
		title Sylteosen Betong
		include includes/meta
		// JS
		script(src="js/custom.js")
			
	body#om-oss
		#site.page_home(canvas="container")
			include includes/menu
		
			.inner
				section.two-cols.content-wrapper.margin-top
					.img-wrapper
						img(src="http://via.placeholder.com/300x300")
					.about-text
						h2 Vi er Sylteosen Betong
						p Sylteosen Betong AS ble grunnlagt i 1961 av familiene Moen/Nøsavik. Nåværende 
							| eier kjøpte firmaet i 1985. I dag har bedriften 22 ansatte. Daglig leder er 
							| Inger Marie Dahle.
						p Oppgradering av fabrikken begynte i 1991, og både bygg og maskiner har siden den 
							| gang gjennomgått en totalrenovering. I slutten av 2008 stod den nye ferdigbetongstasjonen 
							| klar for produksjon som den hittil siste store oppgradering. 
						p Våre folk er godt kvalifiserte og har lang erfaring i bransjen. Vi har som mål å være best i regionen, 
							| ikke bare på produkt, men også på tjenester. Vi vektlegger punktlighet og god service overfor kundene. 
							| Altså kvalitet i all ledd. 
						p Bedriften omsetter for ca 40-45 mill pr år. Vår kundekrets er entreprenører, byggmestere, kommuner, vegvesenet 
							| og det private marked.
					
			include includes/footer
