doctype html
html(lang="no")
	head
		title Sylteosen Betong
		include includes/meta
		// JS
		script(src="js/custom.js")
			
	body#referanser
		#site.page_home(canvas="container")
			include includes/menu
		
			.inner
				section.two-cols.content-wrapper.margin-top
					.box
						img(src="http://via.placeholder.com/600x300")
					.box
						h2 Prosjekt vi er stolt av 
						p tempor quorum anim noster enim elit quid malis export sint duis summis summis 
						quid esse culpa tempor legam velit legam amet quem fore amet amet quis summis 
						duis elit quis aute eram esse magna velit summis multos culpa ipsum enim cillum 
						noster labore malis dolor esse illum summis esse enim illum sunt fugiat tamen 
						tempor magna sunt velit irure aliqua
						
				section.grid.content-wrapper
					a(href="#").grid-item
						.img-wrapper
							img(src="http://via.placeholder.com/300x200")
						.desc
							p.project Prosjekt.  
							p.location Sted
					a(href="#").grid-item
						.img-wrapper
							img(src="http://via.placeholder.com/300x200")
						.desc
							p.project Prosjekt.  
							p.location Sted
					a(href="#").grid-item
						.img-wrapper
							img(src="http://via.placeholder.com/300x200")
						.desc
							p.project Prosjekt.  
							p.location Sted
					a(href="#").grid-item
						.img-wrapper
							img(src="http://via.placeholder.com/300x200")
						.desc
							p.project Prosjekt.  
							p.location Sted
					a(href="#").grid-item
						.img-wrapper
							img(src="http://via.placeholder.com/300x200")
						.desc
							p.project Prosjekt.  
							p.location Sted
					a(href="#").grid-item
						.img-wrapper
							img(src="http://via.placeholder.com/300x200")
						.desc
							p.project Prosjekt.  
							p.location Sted
					a(href="#").grid-item
						.img-wrapper
							img(src="http://via.placeholder.com/300x200")
						.desc
							p.project Prosjekt.  
							p.location Sted
					a(href="#").grid-item
						.img-wrapper
							img(src="http://via.placeholder.com/300x200")
						.desc
							p.project Prosjekt.  
							p.location Sted
					a(href="#").grid-item
						.img-wrapper
							img(src="http://via.placeholder.com/300x200")
						.desc
							p.project Prosjekt.  
							p.location Sted
					a(href="#").grid-item
						.img-wrapper
							img(src="http://via.placeholder.com/300x200")
						.desc
							p.project Prosjekt.  
							p.location Sted
					a(href="#").grid-item
						.img-wrapper
							img(src="http://via.placeholder.com/300x200")
						.desc
							p.project Prosjekt.  
							p.location Sted
					a(href="#").grid-item
						.img-wrapper
							img(src="http://via.placeholder.com/300x200")
						.desc
							p.project Prosjekt.  
							p.location Sted
					a(href="#").grid-item
						.img-wrapper
							img(src="http://via.placeholder.com/300x200")
						.desc
							p.project Prosjekt.  
							p.location Sted
					a(href="#").grid-item
						.img-wrapper
							img(src="http://via.placeholder.com/300x200")
						.desc
							p.project Prosjekt.  
							p.location Sted
					a(href="#").grid-item
						.img-wrapper
							img(src="http://via.placeholder.com/300x200")
						.desc
							p.project Prosjekt.  
							p.location Sted
					
			include includes/footer
