doctype html
html(lang="no")
	head
		title Sylteosen Betong
		include includes/meta
		// JS
		script(src="js/custom.js")
			
	body
		include includes/menu
	
		.inner
			section.two-cols.showcase.content-wrapper.margin-top
				.img-box
					.navigator
						.prev
							a(href="betongvare01.html") Forrige
								span.icon.navigator-left
						.overview 
							a(href="betongskolen.html") Tilbake til oversikt
								span.icon.navigator-up
						.next
							a(href="betongvare01.html") Neste
								span.icon.navigator-right
					.img-wrapper
						img(src="img/betongvare02_big.jpg" alt="")
				.info-box
					h2.pushed-down Betongvare02
					p Betong er et byggemateriale som lages ved å blande sement og vann med sand, stein og tilsetningsstoffer.
						| Sementen reagerer kjemisk med vannet, prosessen kalles hydratisering, og resultatet blir betong. Betong er et 
						| allsidig materiale og er et av de meste brukte byggematerialene i verden i vår tid. Bare fantasien setter grenser 
						| for betongens formbarhet. Betong kan støpes i faste former eller den kan støpes med glidende forskaling som ved 
						| støping av broer og tårn. Riktig produsert og ved normal bruk har betong lang levetid og stor styrke. Et moderne 
						| samfunn er avhengig av betong som byggemateriale til bygging av for eksempel bygninger, industrianlegg, broer, tunneler, 
						| kaier, flyplasser, dammer og oljeplattformer. Legfolk har lett for å forveksle betong med sement i den forstand at de 
						| sier sement når de mener betong. Sement er pulveret som blandes med vann, sand og stein. 
						| Betong er byggematerialet som blir resultatet av denne blandingen. 
					
				
				
		include includes/footer
