doctype html
html(lang="no")
	head
		title Sylteosen Betong
		include includes/meta
		// JS
		script(src="js/custom.js")
			
	body#index
		include includes/menu
		
		section.banner-img.margin-top
	
		.inner
			section.three-cols.content-wrapper
				.box
					h4 Hvem er vi?
					p irure veniam fugiat quid summis aliqua esse aliqua malis irure cillum aliqua 
						| noster malis magna sint multos export illum fore duis tempor enim duis nisi 
						| noster aute nulla dolore aute nulla irure anim velit export malis quis culpa 
						| quae quem malis elit malis eram noster fugiat esse fugiat quorum aliqua eram 
						| illum quorum aute export veniam sunt ipsum eram dolor 
				.box
					h4 Hva leverer vi?
					p quid veniam quae quid minim noster sint sint culpa irure aute noster export aute 
						| elit labore elit export culpa multos fugiat tamen anim nisi esse quid magna 
						| illum elit fugiat irure enim eram quis labore nisi dolore legam anim dolor
				.box
					h4 Hvor leverer vi?
					p irure veniam fugiat quid summis aliqua esse aliqua malis irure cillum aliqua 
						| noster malis magna sint multos export illum fore duis tempor enim duis nisi 
						| noster aute nulla dolore aute nulla irure anim velit export malis quis culpa 
						| quae quem malis elit malis eram noster fugiat esse fugiat quorum aliqua eram 
						| illum quorum aute export veniam sunt ipsum eram dolor
				
			section.two-boxes.content-wrapper
				.img-above-text-below
					h2 Ferdigbetong
					img(src="img/ferdigbetong.jpg" alt="Ferdigbetong")
					p aute anim quorum dolor tamen irure aliqua tamen quid elit aute illum veniam quid 
						| velit esse tempor summis amet velit quorum culpa ipsum amet duis legam esse nisi 
						| aliqua anim minim quorum noster duis ipsum noster nisi quorum tempor duis
						a(href="ferdigbetong.html").read-more Les mer
				.img-above-text-below
					h2 Betongvarer
					img(src="img/betongvarer.jpg" alt="Betongvarer")
					p aute anim quorum dolor tamen irure aliqua tamen quid elit aute illum veniam quid 
						| velit esse tempor summis amet velit quorum culpa ipsum amet duis legam esse nisi 
						| aliqua anim minim quorum noster duis ipsum noster nisi quorum tempor duis
						a(href="betongvarer.html").read-more Les mer
		
		include includes/footer
