doctype html
html(lang="no")
	head
		title Sylteosen Betong
		include includes/meta
		// JS
		script(src="js/custom.js")
			
	body#kontakt
		include includes/menu
	
		section.banner-img.margin-top
	
		.inner
			section.two-cols.contact-section.content-wrapper
				.employees
					.employees-group
						h4 Administrasjon:
						.employees-list 
							.employee
								.img-wrapper
									img(src="img/emp01.jpeg")
								.info
									p.name Inger Marie Dahle
									p.position Daglig leder
									a(href="tel:99288101").phone 992 88 101
							.employee
								.img-wrapper
									img(src="img/emp01.jpeg")
								.info
									p.name Birgitte Engen Dale
									p.position Ass. daglig leder
									a(href="tel:99288104").phone 992 88 104
							.employee
								.img-wrapper
									img(src="img/emp01.jpeg")
								.info
									p.name Kari Bente Gridseth
									p.position Salg kommunalvarer
									a(href="tel:99288103").phone 992 88 103
							.employee
								.img-wrapper
									img(src="img/emp01.jpeg")
								.info
									p.name Wenche Rokstad Brøste
									p.position Regnskap &amp; Økonomi
									a(href="tel:99288???").phone 992 88 ???
					
					.employees-group
						h4 Blandefabrikk:
						.employees-list 
							.employee
								.img-wrapper
									img(src="img/emp01.jpeg")
								.info
									p.name Odd Erling Stormyr
									p.position Produksjonsleder
									a(href="tel:99288105").phone 992 88 105
							.employee
								.img-wrapper
									img(src="img/emp01.jpeg")
								.info
									p.name Jonny Nøsavik
									p.position Kvalitetsleder
									a(href="tel:99288111").phone 992 88 111
							.employee
								.img-wrapper
									img(src="img/emp01.jpeg")
								.info
									p.name Leif Ronny Inderberg
									p.position Driftleder / HMS 
									a(href="tel:99288106").phone 992 88 106
							.employee
								.img-wrapper
									img(src="img/emp01.jpeg")
								.info
									p.name Bjørn Tore Melsæter
									p.position Blandemaskinoperatør
									a(href="tel:99288112").phone 992 88 112
									
					.employees-group
						h4 Produksjon:
						.employees-list 
							.employee
								.img-wrapper
									img(src="img/emp01.jpeg")
								.info
									p.name Inger Marie Dahle
									p.position Daglig leder
									a(href="tel:99288101").phone 992 88 101
							.employee
								.img-wrapper
									img(src="img/emp01.jpeg")
								.info
									p.name Birgitte Engen Dale
									p.position Ass. daglig leder
									a(href="tel:99288104").phone 992 88 104
							.employee
								.img-wrapper
									img(src="img/emp01.jpeg")
								.info
									p.name Kari Bente Gridseth
									p.position Salg kommunalvarer
									a(href="tel:99288103").phone 992 88 103
							.employee
								.img-wrapper
									img(src="img/emp01.jpeg")
								.info
									p.name Wenche Rokstad Brøste
									p.position Regnskap &amp; Økonomi
									a(href="tel:99288???").phone 992 88 ???
									
					.employees-group
						h4 Sjåfører:
						.employees-list 
							.employee
								.img-wrapper
									img(src="img/emp01.jpeg")
								.info
									p.name Inger Marie Dahle
									p.position Daglig leder
									a(href="tel:99288101").phone 992 88 101
							.employee
								.img-wrapper
									img(src="img/emp01.jpeg")
								.info
									p.name Birgitte Engen Dale
									p.position Ass. daglig leder
									a(href="tel:99288104").phone 992 88 104
							.employee
								.img-wrapper
									img(src="img/emp01.jpeg")
								.info
									p.name Kari Bente Gridseth
									p.position Salg kommunalvarer
									a(href="tel:99288103").phone 992 88 103
							.employee
								.img-wrapper
									img(src="img/emp01.jpeg")
								.info
									p.name Wenche Rokstad Brøste
									p.position Regnskap &amp; Økonomi
									a(href="tel:99288???").phone 992 88 ???
								
							
				.contact-text
					h2 Kontakt oss
					p Sentralbord: 
						a(href="tel:992 88 100") 992 88 100
					p Komunalvarer: 
						a(href="tel:992 88 103") 992 88 103 
					p Blandefabrikk: 
						a(href="tel:992 88 105") 992 88 105
					p Produksjon: 
						a(href="tel:???") ???
					
					p.email Epost:
						a(href="mailto:inger@sylteosen.no") inger@sylteosen.no
			
		section.map
			.inner 
				h4 Du finner oss her:
			.map-wrapper
				script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6XJVs8gHLpEVikTenXbZMtKfzqi1HoI4")
				script(src="js/map.js")
				#map
			
					
		include includes/footer
