#footer.content-wrapper
	.inner 
		.footer-first
			.logos
				.logo-wrapper
					//- a.kontrollradet-logo.icon(href="#") Kontrollrådet
					img.kontrollradet-logo(src="img/icons/kontrollradet.jpg")
				.logo-group
					.logo-wrapper
						//- a.norsk-akkr-logo.icon(href="#") Norsk Akkreditering
						img.norsk-akkr-logo(src="img/icons/norsk-akkr.jpg")
					.logo-wrapper
						a.miljofyrtarn-logo.icon(href="#") Miljøfyrtårn
			.text-content
				p Sertifisert iht:
				p NS-EN ISO 9001:2015
				p NS-EN ISO 14001:2015
		.footer-second
			p.big Leverer til <span>avtalt tid.</span>
			p.bold.big Selvfølgelig!
		.footer-third
			.logo-wrapper
				a.facebook-logo.icon(href="#") Facebook
			.text-content
				a(href="tel:99288100").big.bold.phone Tlf: 992 88 100
				p Sylteosen Betong AS
				p Myrbostadvegen 351
				p 6440 Elnesvågen
				.email
					p Epost:
					a.email(href="mailto:inger@sylteosen.no") inger@sylteosen.no
		.footer-bottom-line
