//- #mobilemenu_show(canvas='')
//- 	.logo-wrapper
//- 		a.icon(href='index.html') Logo
//- 	a(href='#mobilemenu').menu-icon.icon Vis meny
//- #mobilemenu.menu.mm-menu(off-canvas='mobilemenu right shift')
//- 	#menuwrapper
//- 		ul
//- 			li
//- 				a(href='ferdigbetong.html') Ferdigbetong
//- 			li
//- 				a(href='betongvarer.html') Betongvarer
//- 			li
//- 				a(href='betongskolen.html') Betongskolen
//- 			li
//- 				a(href='referanser.html') Referanser
//- 			li
//- 				a(href='kontakt.html') Kontakt
//- nav#menu
//- 	#menuwrapper.inner
//- 		.logo-wrapper
//- 			a.icon(href='index.html') Logo
//- 		ul
//- 			li
//- 				a(href='ferdigbetong.html') Ferdigbetong
//- 			li
//- 				a(href='betongvarer.html') Betongvarer
//- 			li
//- 				a(href='betongskolen.html') Betongskolen
//- 			li
//- 				a(href='referanser.html') Referanser
//- 			li
//- 				a(href='kontakt.html') Kontakt
//- 			li
//- 				span.menu-icon.icon Vis meny
//- 				.drop-down
//- 					a(href="om-oss.html") Om oss
//- 					a(href="dokumentasjon.html") Dokumentasjon

#menu
	.inner
		.logo-wrapper
			a.icon(href="index.html") Logo 
		ul
			li
				a(href='ferdigbetong.html') Ferdigbetong
			li
				a(href='betongvarer.html') Betongvarer
			li
				a(href='betongskolen.html') Betongskolen
			li
				a(href='referanser.html') Referanser
			li
				a(href='kontakt.html') Kontakt
			li.drop-down
				p Drop Down
				.drop-down-content
					ul
						li
							a(href="om-oss.html") Om oss
						li
							a(href="dokumentasjon.html") Dokumentasjon
				
