meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
// jQuery
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
// Styling
link(rel="stylesheet", type="text/css", href="css/normalize.css")
link(rel="stylesheet", type="text/css", href="css/styles.css")
// Mmenu 
link(rel="stylesheet", href="js/mmenu/css/jquery.mmenu.css", media="screen and (max-width: 700px)")
link(rel="stylesheet", href="js/mmenu/extensions/positioning/jquery.mmenu.positioning.css", media="screen and (max-width: 700px)")
script(src="js/mmenu/js/jquery.mmenu.min.js")
// Font
link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700", rel="stylesheet")
// JS
script(src="js/custom.js")
script(src="js/mobile-menu.js")
